@model List<ProductViewModel>
<div class="container-fluid vesitable py-5" id="vesitableShopSection">
    <div class="container py-5">
        <h1 class="mb-0">Taze Organik Sebzeler</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            @foreach (var product in Model)
            {
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="@product.ImageUrl" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Sebze</div>
                    <div class="p-4 rounded-bottom">
                        <h4>@product.Title</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                        <div class="d-flex justify-content-center flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">@product.Price ₺ / kg</p>
                        </div>
                        <div class="d-flex justify-content-between flex-lg-wrap mt-3">
                            <a asp-controller="Cart" asp-action="AddCart"
                               asp-route-productId="@product.Id"
                               asp-route-quantity="1"
                               asp-route-returnUrl="/#vesitableShopSection" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Sepete Ekle</a>

                            <a asp-action="Detail"
                               asp-route-productId="@product.Id"
                               class="btn border border-secondary rounded-pill px-3 text-primary" title="İncele">
                                <i class="fa fa-eye text-primary me-2"></i>İncele
                            </a>
                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>